$phone: "(min-width: 320px) and (max-width: 768px)";



.bug-card {
  background-color: white;
  width: 170px;
  height: 150px;
  margin-top: 20px;
  position: relative;
}

.bug-group-container {
  width: 100%;
  max-width: 1100px;
  @media #{$phone} {
    display: flex;
    flex-direction: column;
  }
  a{
    margin-left: 8px;
    margin-top: 20px;
  }
}

.delete-btn {
  position: absolute; 
  top: 0;
  right: 0;
  margin-top: 7px;
  margin-right: 7px;
  cursor: pointer;
}

.bug-card-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bug-card-title {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
  text-align: center;
  img{
    margin-left:-5px;
  }
  .bugname {
    margin-left: 2px;
    margin-top: 5px;
  }
}

.bug-description {
  margin-top: 5px;
  margin-bottom: 30px;
  color: red;
  font-size: 14px;
}

.bug-priority{
  font-size: 14px;;
}

.bug-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 3%;

  @media #{$phone} {
    max-width: 100%;
    overflow: hidden;
  }
}

.progressh4 {
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  margin: 10px;
  color: #000000;
  font-family: "Montserrat", sans-serif;

  @media #{$phone} {
    color: #ffffff;
    margin-left: -10%;
  }
}

.progress-column {
  background-color: #f2f3f4;
  width: 100%;
  max-width: 220px;
  min-height: 555px;
  border: 2px solid #000000;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  align-items: center;
  @media #{$phone} {
    display: none;
  }
}

.mobile-container {
  @media #{$phone} {
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
}
