$desktop: "(min-width: 769px)";

.header-container {
  justify-content: center;
  margin-top: 2rem;
  font-size: 5rem;
  color: black;

  h1 {
    display: none;
    color: #202020;

    @media #{$desktop} {
      display: flex;
      font-size: 24px;
      font-style: normal;
      font-weight: bold;
    }
  }

  .logo {
    display: block;
  }
}

.bug-board-container {
  background-color: #14131c;
  color: white;

  .top-container {
    background-color: white;
  }

  main {
    width: 70%;
    border: 2px solid red;
  }
  h2 {
    text-align: left;
    margin: 3%;
  }
}
