$desktop: "(min-width: 769px)";

.header-container {
  justify-content: center;
  margin-top: 2rem;
  font-size: 5rem;
  color: black;

  h1 {
    display: none;
    color: #202020;

    @media #{$desktop} {
      display: flex;
    }
  }

  .logo {
    display: block;
  }
}

.bug-board-container {
  background-color: #14131c;
  color: white;
}

.top-container {
  background-color: white;
}

main {
  h2 {
    text-align: center;
  }
}
